<html lang="de">

<head>
  <meta charset="utf-8"/>
  <title>First vue.js tests</title>

  <!-- development version, includes helpful console warnings -->
  <script src="vendor/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app">
    {{ message }}
  </div>
  <hr />

  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>
  <hr />

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <hr />

  <div id="app-5">
    <ol>
      <!-- Create an instance of the todo-item component -->
      <todo-item v-for="item in groceryList" 
        v-bind:todo="item.text" 
        v-bind:key="item.id"></todo-item>
    </ol>
  </div>



</body>

<script src="js/vuetests.js"></script>

</html>